/* 
    Created on : 23/04/2020, 23:28:17
    Author     : joao
*/
* {
    dark-primary-color: #5D4037;
    default-primary-color: #795548;
    light-primary-color: #D7CCC8;
    text-primary-color: #FFFFFF;
    accent-color: #8BC34A;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    divider-color: #BDBDBD; 
}

.root {
    
    -fx-background-color: default-primary-color; 
}

.menubar {
    
    -fx-background-color: light-primary-color;
}

.button {
    
    -fx-font: 12px "Tahoma";
    -fx-text-fill: text-primary-color;
    -fx-opacity: .75;
    -fx-background-radius: 12px;
}

.textFild {
    
    -fx-font: 12px "Tahoma";
    -fx-text-fill: primary-text-color;
    -fx-opacity: 0.9;
    -fx-prompt-text-fill: primary-text-color;
}